.btns {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: x-large;
  border-width: 0.1px;
  border-color: white;
}
.nopad {
  padding-left: 0%;
  padding-right: 0%;
}
.variable {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.outercontainer {
  background-image: linear-gradient(to right, #d3e4f4, #d9ddde);
  height: 100vh;
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
}
.innercontainer {
  background-image: linear-gradient(to right, #5b6a7d, #353e4a);
  text-align: left;
  justify-content: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-bottom: 5%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainHeading {
  text-align: center;
  color: white;
}
.display {
  background-color: #2d353c;
  text-align: right;
  color: white;
}
.inputbox {
  align-items: right;
  border: none;
  background: transparent;
  color: white;
  font-size: x-large;
}
.variableHeading {
  text-align: center;
  color: white;
  padding-top: 2%;
}
.variableInput {
  align-items: right;
  border-radius: 10px;
  font-size: large;
  background-color: #2d353c;
  color: white;
}
.variableValue{
    align-items: right;
              border-radius: 10px;
              font-size: large;
              background-color: #2d353c;
              color: white;
}
.addvarbtn{
    border-radius: 10px;
              width: 50%;
              background-color: white;
              color: #2d353c;
              font-weight: bold;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}
